<div class="row">
<div class="col-md-3">
  <h3><%= @fiado.nombre %></h3>
  <p>
    <strong>Direccion</strong>
    <%= @fiado.direccion %>
  </p>
  <p>
    <strong>RFC</strong>
    <%= @fiado.rfc %>
  </p>
  <p>
    <strong>Email</strong>
    <%= @fiado.email %>
  </p>
  <p>
    <strong>Telefono</strong>
    <%= @fiado.telefono %>
  </p>
</div>

<div class="col-md-6">
  <h3>Expedientes</h3>
</div>

  

</div>