<%= simple_form_for(@fianza, html: {class: "form-signin"}) do |f| %>
<%= f.error_notification %>

<%= f.input :afianzadora, collection: ["Primero Fianzas", "ACE Fianzas Monterrey", "Afianzadora Sofimex", "Zurich Fianzas Mexico", "Fianzas Dorama"], prompt: "¿A que afianzadora pertenece?", label:false, required: true, input_html: {class: "form_control"} %>
<%= f.input :numerofianza, label: false, required: true, placeholder: "Numero de Fianza", input_html: {class: "form_control"} %>
<label>Fianza</label><%= f.input :textofianza, label: false, required: true %>



<%= f.button :submit, class: "btn btn-primary btn-block" %>
<% end %>